<div class="story-picture-container">
  <div [formGroup]="parent" class="form-container">
    <div class="header">
      <h2>Add a Picture</h2>
      <img *ngIf="fileUrl" [src]="fileUrl">
    </div>
    
    <div formGroupName="picture" class="picture">
      <label *ngIf="parent.get('featuredImage').value === null" for="featured-image">Featured?
        <input
          id="featured-image" 
          formControlName="featured" 
          type="checkbox"
          (change)="changeFeatured($event)">
      </label>
      <input
        id="title"
        class="picture-title"
        type="text" 
        placeholder="This will be used to create the URL link of the photo" 
        formControlName="title">

      <input
        class="picture-caption"
        type="text" 
        placeholder="This text will appear along with the photo"
        formControlName="caption">

      <input
        type="text" 
        placeholder="This text describes the photo for accessibility"
        formControlName="altText">

      <app-file-uploader
        (file)="patchFileInfo($event)">
      </app-file-uploader>

      <div class="add-reset-picture">
        <button
          type="button"
          (click)="onAddPicture()"
          [disabled]="!parent.get('picture.objectURL').valid">
          Add Picture
        </button>
        <button
          type="button"
          (click)="onResetPicture()">
          Reset
        </button>
        <ng-content></ng-content>
      </div>
    </div>

  </div>
</div>