<div class="story-picture-container">
  <div [formGroup]="parent" class="form-container">
    <h2>Add a Picture</h2>
 
    <div formGroupName="picture" class="picture">
      <label for="featured-image">Featured?
        <input
          *ngIf="parent.get('featuredImage').value === null"
          id="featured-image" 
          formControlName="featured" 
          type="checkbox"
          (change)="changeFeatured($event)">
      </label>
      <input
        id="title"
        class="picture-title"
        type="text" 
        placeholder="This will be used to create the URL link of the photo" 
        formControlName="title">

      <input
        class="picture-caption"
        type="text" 
        placeholder="This text will appear along with the photo"
        formControlName="caption">

      <input
        type="text" 
        placeholder="This text describes the photo for accessibility"
        formControlName="altText">  

      <input
        type="text" 
        placeholder="This field is set automatically after uploading"
        formControlName="storageUrl"
        readonly>

      <div class="picture-input">
        <input
          id="picture-input"
          class="upload"
          type="file"
          accept="image/*"
          (change)="onUploadPicture($event)">
        <progress 
          [attr.value]="progressValue"></progress>
      </div>
      <div class="add-reset-picture">
        <button
          type="button"
          (click)="onAddPicture()">
          Add Picture
        </button>
        <button
          type="button"
          (click)="onResetPicture()">
          Reset
        </button>
        <ng-content></ng-content>
      </div>
    </div>

  </div>
</div>