.story-info-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  align-items: center;

  .ng-invalid.ng-touched {
    border: 2px solid red;
  }

  .error {
    grid-column: 1/-1;
  }

}

.story-info-container.ng-dirty > .ng-invalid {
  border: 2px solid red;
}