<h2>Added Pictures</h2>

<!--Forms Method of showing pictures-->
<!--<div [formGroup]="parent">
  <ng-content></ng-content>
  <div formArrayName="pictures" class="picture-array-container">
    <div
      *ngFor="let picture of pictureArray; let i = index;"
      [formGroupName]="i">

        <div 
          class="picture-block" 
          [ngClass]="{'featured': picture.value.featured}">
          <img [src]="picture.value.storageUrl">
          <button
            class="remove-picture"
            type="button" 
            (click)="onRemove(i)">
            X
          </button>
        </div>

    </div>
  </div>
</div>-->

<div>
  <ng-content></ng-content>
  <div class="picture-array-container">
    <div *ngFor="let file of fileList; let i = index">

        <div class="picture-block">
          <img [src]="file.objectURL">
          <button
            class="remove-picture"
            type="button" 
            (click)="onRemove(i)">
            X
          </button>
        </div>

    </div>
  </div>
</div>