<div class="grid-container">
  <div *ngIf="notSent" class="container">
    <h1>Start solving problems</h1>
    <div class="sub-heading">Submit the information below to start the problem-solving process.</div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Name" formControlName="name">

      <input type="text" placeholder="Email" formControlName="email">

      <p-editor formControlName="problem" [style]="{'height':'200px'}" placeholder="Enter a description of your problem">
        <p-header>
          <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
              </span>
        </p-header>
      </p-editor>

      <button class="call-to-action" type="submit" [disabled]="contactForm.invalid">Start solving</button>

    </form>
  </div>

  <div *ngIf="!notSent" class="container">
    <h1>You've taken the first step in solving the problem!</h1>
    <div class="sub-heading">
      We'll get back to you with the next step as soon as possible.
    </div>
    <div (click)="notSent = true" class="call-to-action center">
      Solve another problem
    </div>
  </div>

</div>