<div class="create-category-container">

  <form [formGroup]=form (ngSubmit)="onSubmit()">

    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">

    <label for="slug">Slug</label>
    <div class="validation-error">
      <input type="text" id="slug" formControlName="slug">
      <div class="error" *ngIf="categoryExists">
        Category already exists. Please change name or just slug.
      </div>
    </div>

    <label for="category">Parent</label>
    <app-select-categories [parent]="form" [controlName]="parentControlName" [categories]="hierarchyCategories">
    </app-select-categories>

    <label for="link">URL</label>
    <input type="text" readonly formControlName="link">

    <label for="description">Description</label>
    <p-editor id="description" tabindex="2" [style]="{'height': '25em'}" formControlName="description" placeholder="Category description">
      <p-header>
        <span class="ql-formats">
          <button class="ql-bold" type="button" type="button"></button>
          <button class="ql-italic" type="button"></button>
          <button class="ql-underline" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-script" value="sub" type="button"></button>
          <button class="ql-script" value="super" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-header" value="2" type="button"></button>
          <button class="ql-list" value="ordered" type="button"></button>
          <button class="ql-list" value="bullet" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-link" type="button"></button>
        </span>
      </p-header>
    </p-editor>

    <div class="submit-button">
      <button type="submit" [disabled]="form.invalid">
        Create Category
      </button>
    </div>
  </form>
</div>