.navbar-brand svg {
  width: 12em;
  max-width: 12em;
}

.navbar {
  background-color: #560114;
  margin-bottom: 1em;
}

.navbar-inverse .navbar-toggler {
  border: 2px solid rgba(255,255,255,.6);
}

.navbar .form-inline .btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.navbar .form-inline .btn:hover {
  background-color: white;
  border: 1px solid white;
  color: #560114;
}

header {
  display: none;
  /*margin: 0 auto;*/
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

@media (min-width: 40em) {
  header {
    display: block;
  }
}

header img {
  width: 100%
}

.header-callout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
}

.header-callout--phone a {
  font-size: 3.5em;
  color: #560114;
  font-weight: bold;
}


.card-flex {
  display: flex;
  flex-wrap: wrap;

}

.card-flex .card {
  flex: 1 1 30%;
  margin: 0.5em;
}

.card-flex nav {
  flex: 1 1 100%;
}

main {
  display: flex;
}

.card-flex .btn {
  background-color: #560114;
  border-color: #560114;
}

.card-flex .btn:focus {
  background-color: white;
  color: #560114;
}

.categories {
  font-size: 0.75em;
  display: none;
}

@media (min-width: 48em) {
  .categories {
    display: block;
  }
}

footer {
  /*position: fixed;
  bottom: 0;*/
  background-color: #560114;
  width: 100%;
  color: white;
  padding: 1em;
  margin-top: 1em;
}