<md-toolbar>
  <div>
    <a [routerLink]="['']">
        Gideon Analytical Labs
    </a>
  </div>

  <span class="example-spacer"></span>

  <span>
    <a routerLink="create-story">
      <button md-button>Create Story</button>
    </a>
  </span>

  <span>
    <a routerLink="create-category">
      <button md-button>Create Category</button>
    </a>
  </span>

  <div class="app-user" *ngIf="authenticated">

      <img 
        class="user-image" 
        [src]="userInfo.photoURL" 
        [mdTooltip]="userInfo.displayName" 
        mdTooltipPosition="below" />
      <button class="user-action" md-button (click)="triggerSignOut($event)">Sign Out</button>

  </div>
</md-toolbar>
