.navbar {
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-template-rows: 4em;
  background-color: lightgrey;
}


.user-image {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  margin: 0 12px;
  border: 1px solid rgba(0,0,0,.1);
}