.example-spacer {
  flex: 1 1 auto;
}

.user-image {
  border-radius: 50%;
  height: 34px;
  width: 34px;
  margin: 0 12px;
  border: 1px solid rgba(0,0,0,.1);
}

md-toolbar {
  background: black;
  color: white;
  & a {
    color: white;
  }
}