.create-story-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  width: 75vw;
  margin: 3em 0;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-areas:
    "story-info picture-list publish"
    "editor picture-list category"
}

app-story-info {
  grid-area: story-info;
}

p-editor {
  grid-area: editor;
}

app-story-picture {
  grid-area: add-picture;

}

app-story-pictures {
  grid-area: picture-list;
}

.publish-box {
  grid-area: publish;
}

.form-value {
  grid-area: value;
}

app-category-list {
  grid-area: category;
}

