<md-card>
    
    <md-card-header>
      <md-card-title>Create New Story</md-card-title>
    </md-card-header>

    <md-card-content>

      <form [formGroup]="form" (ngSubmit)=onSubmit()>
        <md-input-container>
          <input mdInput type="text" placeholder="Title" formControlName="title">
        </md-input-container>

        <md-input-container>
          <textarea 
            mdInput 
            placeholder="Story" 
            formControlName="content"></textarea>
        </md-input-container>

        <div formArrayName="pictures">
          
          <div *ngFor="let picture of _pictures; let i=index" [formGroupName]="i">
            <h4>Picture #{{i +1}}</h4>
            <md-input-container>
              <input mdInput type="text" placeholder="Title" formControlName="title">
            </md-input-container>

            <md-input-container>
              <input mdInput type="text" placeholder="Caption" formControlName="caption">
            </md-input-container>

            <md-input-container>
              <input mdInput type="text" formControlName="storageLink" placeholder="Storage Link" readonly>
            </md-input-container>
          </div>

          <button md-raised-button (click)=addPicture()>Add Picture</button>

        </div>

        


        <pre>{{ form.value | json }}</pre>
        <button type="submit" [disabled]="form.valid">Add Story</button>
      </form>

    </md-card-content>

  </md-card>
