.create-story-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-areas:
    "publish category picture-list"
    "story-info story-info picture-list"
    "editor editor picture-list"
}

app-story-info {
  grid-area: story-info;
}

p-editor {
  grid-area: editor;
}

app-story-picture {
  grid-area: add-picture;

}

app-story-pictures {
  grid-area: picture-list;
}

.publish-box {
  grid-area: publish;
}

.form-value {
  grid-area: value;
}

app-category-list {
  grid-area: category;
}

