.create-story-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  grid-gap: 2em;
  grid-template-areas:
    "story-info publish picture-list"
    "editor category picture-list"
    ". . picture-list";
}

form > div {
  background-color: rgb(245,245,245);
  border: 3px solid rgb(215,215,215);
  border-radius: 5px;
  padding: 1em;
}

.story-info-box {
  grid-area: story-info;
}

.content-box {
  grid-area: editor;
}

.story-pictures-box {
  grid-area: picture-list;
}

.publish-box {
  grid-area: publish;
}

.form-value {
  grid-area: value;
}

.categories {
  grid-area: category;
}

.categories-box {
  height: 25em;
  overflow-y: auto;
}

p-editor {
  background-color: white;
}

.editor {
  background-color: white;
  height: 25em;
}
