<div class="create-story-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <app-story-info [parent]="form" [async]="asyncTest"></app-story-info>

    <div class="publish-box">
      <h2>Publish</h2>
      <label for="date">Date</label>
      <input
        id="date"
        formControlName="date"
        type="text">
      <app-select-users
        [parent]="form"
        [users]="users">
      </app-select-users>
      <button
        type="submit"
        [disabled]="
          form.get('title').invalid || 
          form.get('content').invalid ||
          form.get('pictures').value.length === 0">
        Create Story
      </button>
    </div>

    <div>
      <h2>Categories</h2>
      <app-select-categories
      [parent]="form"
      [controlName]="categoryControlName"
      [categories]="hierarchyCategories">
      </app-select-categories>
    </div>

    <p-editor
      tabindex="2"
      [style]="{'height': '25em'}"
      formControlName="content"
      placeholder="Story">
      <p-header>
        <span class="ql-formats">
          <button class="ql-bold" type="button" type="button"></button>
          <button class="ql-italic" type="button"></button>
          <button class="ql-underline" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-script" value="sub" type="button"></button>
          <button class="ql-script" value="super" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-header" value="2" type="button"></button>
          <button class="ql-list" value="ordered" type="button"></button>
          <button class="ql-list" value="bullet" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-link" type="button"></button>
        </span>
      </p-header>
    </p-editor>

    <app-story-picture
      [parent]="form"
      (added)="addPicture($event)">
    </app-story-picture>

    <app-story-pictures
      [parent]="form"
      (removed)="removePicture($event)">
    </app-story-pictures>
<pre>
{{form.value | json}}
</pre>
  </form>
</div>