.sale-item {
  background-color: #560114;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 0.25em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  &:hover {
    color: rgba(255, 255, 255, 1.0);
  }
}

.active {
  color: rgba(255, 255, 255, 1.0);
}