<section class="grid-container">
  <div class="container">
    <h1>We Solve Problems for the Electronic Industry</h1>
    <div class="sub-header">
      Failure analysis, electrical testing, process evaluation and testing to many specifications.
    </div>
    <a routerLink="/contact"><button class="call-to-action" type="button">Start solving</button></a>
  </div>
  <picture class="hero-image">
    <source srcset="/assets/images/microscope.webp" type="image/webp">
    <img src="/assets/images/microscope.png" alt="microscope">
  </picture>
  <!-- <div class="griditem1">1</div>
  <div class="griditem2">2</div>
  <div class="griditem3">3</div>
  <div class="griditem4">4</div>
  <div class="griditem5">5</div>
  <div class="griditem6">6</div> -->
</section>