:host {
  color: #54575a;
}

.grid-container {
  grid-gap: 5px;
}

h1 {
  font-family: 'FuturaBT-Heavy', sans-serif;
  font-size: 5.625em;
  font-weight: 100;
  letter-spacing: -5px;
  max-width: 40vw;
  line-height: 1.111;
  margin: 0;
  padding: 0;
}

.sub-header {
  color: #7e8082;
  max-width: 30vw;
  font-size: 1.5em;
  line-height: 1.333;
  margin: 1.5em 0;
}

.container {
  grid-area: 1 / 2 / 2 / 5;
}

.hero-image {
  grid-area: image;
  padding: 2em 0;
  border: 1px solid red;
  max-width: 100%;
  grid-area: 1 / 2 / 2 / 8;
  justify-self: end;
}

.call-to-action {
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #549431;
  font-family: 'FuturaBT-Book', sans-serif;
  font-size: 1.75em;
  padding: 0.75em 1em;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
  cursor: pointer;
}

.griditem1,
.griditem2,
.griditem3,
.griditem4,
.griditem5,
.griditem6 {
  background-color: rgba(25, 25, 25, 0.3);
  height: 100%;
}

.griditem1 {
  grid-area: 1 / 2 / 2 / 3;
}
.griditem2 {
  grid-area: 1 / 3 / 2 / 4;
}
.griditem3 {
  grid-area: 1 / 4 / 2 / 5;
}
.griditem4 {
  grid-area: 1 / 5 / 2 / 6;
}
.griditem5 {
  grid-area: 1 / 6 / 2 / 7;
}
.griditem6 {
  grid-area: 1 / 7 / 2 / 8;
}

.call-to-action:hover {
  background-color: #326f12;
}

.underlay {
  grid-column: 2 / 8;
  grid-row: 1 / -1;
  background-color: pink;
  border: 1px solid red;
  max-height: 100%;
}
