.card-flex {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 75%;
}

.card-flex .card {
  flex: 1 1 25%;
  margin: 0.5em;
}

.card-flex nav {
  flex: 1 1 100%;
}

.card-flex .btn {
  background-color: #560114;
  border-color: #560114;
  color: white;
}

.card-flex .btn:focus,
.card-flex .btn:hover {
  background-color: white;
  color: #560114;
  cursor: pointer;
}

.card img {
  object-fit: cover;
}

.post-container {
  display: flex;
}

.pagination .page-link {
  cursor: pointer;
}

.category-container {
  flex: 1 1 20%;
  font-size: 0.75em;
  display: none;
  padding: 1em;

  @media (min-width: 48em) {
    display: block;
  }
}