.add-pictures-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-pictures--modal {
  background-color: rgb(245,245,245);
  border: 3px solid rgb(215,215,215);
  border-radius: 5px;
  padding: 1em;
}

.drop-box {
  font-size: 1.25rem;
  background-color: #c8dadf;
  padding: 1em;
  width: 50vw;
  min-height: 25vh;
}

.drop-box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
}

.drag-highlight {
  background-color: white;
}

.uploaded {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  align-items: center;
  grid-gap: 1em;
}